@use "core/_mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

canvas {
  background-color: #121212;
}

.screen {
  width: 100%;
  height: 100dvh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

.screen h1 {
  font-size: 1.4rem;

  @include breakpoint(mediumdesktop) {
    font-size: 2.3rem;
  }
}

.screen h2 {
  font-size: 0.8rem;

  @include breakpoint(mediumdesktop) {
    font-size: 1.4rem;
  }
}

.screen span {
  font-size: 0.6rem;
  color: #aaa;
  margin-top: auto;
  margin-bottom: 20px;
  text-decoration: underline;
}

.recyclebit-logo {
  max-width: 210px;
  width: auto;
  height: auto;
}

.access-screen > div,
.register-screen > div,
.start-screen > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  h2 {
    margin-top: 10px;
  }
}

.button-play,
.button-restart,
#register-form-button,
#access-form-button {
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #ddd;
  display: block;
  margin: 20px auto 0;
  font-size: 1rem;
  cursor: pointer;
}

.button-play:hover,
.button-restart:hover,
#register-form-button:hover,
#access-form-button:hover {
  background-color: #fff;
}

#redirect-register-button,
#redirect-access-button {
  border: none;
  background-color: transparent;
  color: #ddd;
  display: block;
  margin: 20px auto 0;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline;
  text-transform: lowercase;
}

#redirect-register-button:hover,
#redirect-access-button:hover {
  color: #fff;
}

.game-over {
  scale: 0;
  animation: zoom 2s ease-in-out forwards;
}

.score-ui {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
  font-size: 1rem;
  display: none;
}

.score-ui > div {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.form {
  .form_container {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
  }

  label {
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin: 0 0 5px;
    padding-left: 5px;
  }

  input {
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    // border: 1px solid #ddd;
  }

  button {
    display: block;
    margin: 10px auto;
  }
}

@keyframes zoom {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}