@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* ========== Break points responsive ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

canvas {
  background-color: #121212;
}

.screen {
  width: 100%;
  height: 100dvh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

.screen h1 {
  font-size: 1.4rem;
}
@media only screen and (min-width: 1366px) {
  .screen h1 {
    font-size: 2.3rem;
  }
}

.screen h2 {
  font-size: 0.8rem;
}
@media only screen and (min-width: 1366px) {
  .screen h2 {
    font-size: 1.4rem;
  }
}

.screen span {
  font-size: 0.6rem;
  color: #aaa;
  margin-top: auto;
  margin-bottom: 20px;
  text-decoration: underline;
}

.recyclebit-logo {
  max-width: 210px;
  width: auto;
  height: auto;
}

.start-screen > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.start-screen > div h1 {
  text-align: center;
  margin-top: 20px;
}
.start-screen > div h2 {
  margin-top: 10px;
}

.button-play,
.button-restart {
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #ddd;
  display: block;
  margin: 20px auto 0;
  font-size: 1rem;
  cursor: pointer;
}

.button-play:hover,
.button-restart:hover {
  background-color: #fff;
}

.game-over {
  scale: 0;
  animation: zoom 2s ease-in-out forwards;
}

.score-ui {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
  font-size: 1rem;
  display: none;
}

.score-ui > div {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

@keyframes zoom {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}