<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta name="robots" content="index, follow, noodp, noydir" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="msapplication-navbutton-color" content="#000000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="stylesheet" href="/css/unip-aps-general.css" />
    <title>Recycle Bit - Save The World</title>
  </head>

  <body class="aps-adb-home">
    <main>
      <section class="score-ui">
        <div>
          <span class="score">score: <span>0</span></span>
          <span class="level">level: <span>1</span></span>
          <span class="high">high: <span>0</span></span>
        </div>
      </section>

      <section class="start-screen screen">
        <div>
          <img class="recyclebit-logo" src="/images/logo.png" alt="RecycleBit - Save The World"/>
          <h1>RecycleBit</h1>
          <h2>Save The World</h2>
          <button class="button-play">Play</button>
        </div>
      </section>

      <section class="game-over screen">
        <div>
          <h1>Game Over</h1>
          <button class="button-restart">Restart</button>
        </div>
      </section>
      <canvas></canvas>
    </main>

    <script type="text/javascript" src="/js/unip-aps-general.js"></script>
  </body>
</html>
