

/**
 * New Guide Colors
 */
 $yellow_light-color: #F8EB4C;
 $yellow-color:       #EFDF00;
 $black-color:        #000000;
 $gray_darker-color:  #3E3F40;
 $gray_dark-color:    #656666;
 $gray-color:         #8C8C8B;
 $gray_light-color:   #D9D9D6;
 $gray_lighter-color: #F2F2F2;
 $white-color:        #FFFFFF;
 $red-color:          #C0202B;


/**
 * Colors
 */
 $black-color-3:    #181818;
 $black-color-2:    #050505;
 $black-color:      #000000;
 $white-color:      #ffffff;
 $white-color-2:    #ffffff;
 $white-color-3:    #fefefe;
 $white-color-4:    #ebebeb;
 $gray-color:       #e8e8e8;
 $gray-color-2:     #c4c4c4;
 $gray-color-3:     #b7b7b7;
 $gray-color-4:     #333333;
 $gray-color-5:     #666666;
 $gray-color-6:     #707070;
 $gray-color-7:     #eeeeee;
 $gray-color-8:     #7b7b7b;
 $gray-color-9:     #ebebeb;
 $gray-color-10:    #81807e;
 $gray-color-11:    #e9e4e4;
 $gray-color-12:    #898989;
 $gray-color-13:    #6A6A6A;
 $gray-color-14:    #ABABAB;
 $gray-color-15:    #9C9C9C;
 $gray-color-16:    #525659;
 $gray-color-17:    #323639;
 $gray-color-18:    #9b9d9d;
 $gray-color-19:    #161415;
 $gray-color-20:    #c1bdb5;
 $gray-color-21:    #959494;
 $gray-color-22:    #94979e;
 $gray-color-23:    #555555;
 $gray-color-24:    #818286;
 $gray-color-25:    #737373;
 $gray-color-26:    #e1e1e1;
 $gray-color-27:    #737169;
 $gray-color-28:    #ccc;
 $gray-color-29:    #e5e7eb;
 $gray-color-30:    #d2d6dc;
 $gray-color-31:    #6c6c6c;
 $gray-color-32:    #4e4e4e;
 $gray-color-33:    #7f7f7f;
 $gray-color-34:    #2d2d2d;
 $yellow-color:     #ffa800;
 $yellow-color-2:   #ffcc00;
 $yellow-color-3:   #fcb200;
 $yellow-color-4:   #ffca30;
 $yellow-color-5:   #ffc148;
 $yellow-color-6:   #ffd270;
 $yellow-color-7:   #fedc3d;
 $yellow-color-8:   #F6AC3B;
 $yellow-color-9:   #FFCC45;
 $yellow-color-10:  #FFC000;
 $yellow-color-11:  #FFDF07;
 $yellow-color-12:  #ffc905;
 $yellow-color-13:  #ffb400;
 $brown-color:      #7a5b0f;
 $brown-color-2:    #b07300;
 $red-color:        #ff4c4c;
 $red-color-2:      #a60000;
 $red-color-3:      #b00000;
 $red-color-4:      #be182e;
 $red-color-5:      #EE2F31;
 $red-color-6:      #b83333;
 $red-color-7:      #a21d28;
 $blue-color:       #0354a3;
 $blue-color-2:     #1c64f2;
 $pink-color:       #e6007e;

 /**
  * Typography
  */
 $font-family-base: 'Space Grotesk', sans-serif;
 $font-size-base: 16px !default;
 $font-weight-light: 300 !default;
 $font-weight-base: 400 !default;
 $font-weight-bold: 700 !default;