<header class="eu-adb-header">
  <ul class="eu-adb-header__list">
    <li class="eu-adb-header__item logo__item">
      <a>
        <img src="/images/logo-1.png" alt="">
        <h1>ANJOS DOS BICHOS</h1>
      </a>
    </li>
    <li class="eu-adb-header__item">
      <a href="/peludinhos">
        <img src="/images/icons/search.png" alt="">
        <p>Peludinhos</p>
      </a>
    </li>
    <li class="eu-adb-header__item">
      <a class="js-open-notification">
        <img src="/images/icons/notification.png" alt="">
        <p>Notificações</p>
      </a>
    </li>
  </ul>
</header>

<%- include('notification') %>