<div class="loader">
  <!-- Top -->
  <div id="block_01" class="block active"></div>
  <div id="block_02" class="block active"></div>
  <div id="block_03" class="block active"></div>
  <div id="block_04" class="block active"></div>

  <div id="block_0a" class="block active"></div>

  <!-- Right -->
  <div id="block_05" class="block"></div>
  <div id="block_06" class="block"></div>
  <div id="block_07" class="block"></div>
  <div id="block_08" class="block"></div>

  <div id="block_0b" class="block"></div>

  <!-- Bottom -->
  <div id="block_09" class="block"></div>
  <div id="block_10" class="block"></div>
  <div id="block_11" class="block"></div>
  <div id="block_12" class="block"></div>

  <div id="block_0c" class="block"></div>

  <!-- Left -->
  <div id="block_13" class="block"></div>
  <div id="block_14" class="block"></div>
  <div id="block_15" class="block"></div>
  <div id="block_16" class="block"></div>

  <div id="block_0d" class="block active"></div>
</div>
