<section class="eu-adb-menu">
  <nav class="eu-adb-menu__navigation">
    <div class="eu-adb-menu__item menu__item--home">
      <a href="/">
        <img src="/images/icons/home.png" alt="">
        <p>Início</p>
      </a>
    </div>
    
    <div class="eu-adb-menu__item menu__item--donation">
      <a href="/parceiros-doacoes">
        <img src="/images/icons/donation.png" alt="">
        <p>Parceiros & Doações</p>
      </a>
    </div>
    
    <div class="eu-adb-menu__item menu__item--castration">
      <a href="/castracao">
        <img src="/images/icons/castration.png" alt="">
        <p>Castração</p>
      </a>
    </div>
    
    <div class="eu-adb-menu__item menu__item--diary">
      <a href="/agenda">
        <img src="/images/icons/diary.png" alt="">
        <p>Agenda</p>
      </a>
    </div>
    
    <div class="eu-adb-menu__item menu__item--rescue">
      <a href="/resgate">
        <img src="/images/icons/rescue.png" alt="">
        <p>Resgate</p>
      </a>
    </div>
  </nav>
</section>