<section class="eu-adb-notification js-section-notification">
  <div class="eu-adb-notification__header">
    <button class="js-back-notification">voltar</button>
    <h2>Notificações</h2>
  </div>
  <div class="eu-adb-notification__section"></div>
</section>